.joincontent{
    display:flex;
    justify-content: left;
}


.joinform {
    padding-left:50px;
    width: 70%;
}

.effect-16{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
